body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calendar {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:rgba(241.00000083446503, 232.00000137090683, 217.0000022649765, 1);
    border-radius: 20px;

}
.android-small .year-css {
    height: 20px;
    left: 159px;
    font-family: var(--12pt-bold-font-family);
    font-weight: var(--12pt-bold-font-weight);
    color: #fa9a84;
    font-size: var(--12pt-bold-font-size);
    text-align: center;
    letter-spacing: var(--12pt-bold-letter-spacing);
    line-height: var(--12pt-bold-line-height);
    white-space: nowrap;
    font-style: var(--12pt-bold-font-style);
  }

#calendar-header button {
    background: none;
    border: none;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
}

#calendar-first-header {
    position: absolute;
    width: 360px;
    height: 105px;
    top: 0;
    left: 0;
    background-color: #f1e8d9;
    box-shadow: 0px 1px 4px #00000033;
}

#calendar-header .left {
    border-width: 12px 17px 12px 0;
    border-color: transparent rgba(250.00000029802322, 154.00000602006912, 132.0000073313713, 1);
}


#calendar-header .right {
    border-width: 12px 0 12px 17px;
    border-color: transparent transparent transparent rgba(250.00000029802322, 154.00000602006912, 132.0000073313713, 1);
}

#calendar-body {
    padding: 10px;
    background-color: rgba(241.00000083446503, 232.00000137090683, 217.0000022649765, 1);
}

#days-of-week {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 2px ;
    padding: 10px;
    color:rgba(250.00000029802322, 154.00000602006912, 132.0000073313713, 1);
}

#days {
    display: flex;
    flex-wrap: wrap;
}

#days span {
    width: 14.28%;
    text-align: center;
    margin: 2px 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "NanumSquareOTF-Bold", Helvetica;
    font-size: 20px;
}

.redday {
    color: rgb(255, 0, 0);
}

.today {
    background-color: red;
    color: white;
    border-radius: 50%;
    
}

.holiday {
    position: relative;
}

.holiday::after {
    content: '';
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: -10px;
    border: 2px dotted red;
    border-radius: 50%;
    pointer-events: none;
}
.monthcolor { 
	background-color:rgba(250.00000029802322, 154.00000602006912, 132.0000073313713, 1);
	width:196px;
	height:38px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
    text-align:center;
    color:rgba(241.00000083446503, 232.00000137090683, 217.0000022649765, 1);
    font-style: var(--20pt-exbold-font-style);
    letter-spacing: var(--20pt-exbold-letter-spacing);
    line-height: var(--20pt-exbold-line-height);
    font-size: var(--20pt-exbold-font-size);
    font-family: var(--20pt-exbold-font-family);
    font-weight: var(--20pt-exbold-font-weight);
}

#current-date {
    color:rgb(253, 253, 253);
    padding: 10px;
    font-size: 18px;
    height: 150px;
    background-color:rgba(250.00000029802322, 154.00000602006912, 132.0000073313713, 1);
    border-radius: 0px 0px 20px 20px;


    font-family: var(--16pt-exbold-font-family);
    font-weight: var(--16pt-exbold-font-weight);
    font-size: var(--16pt-exbold-font-size);
    letter-spacing: var(--16pt-exbold-letter-spacing);
    line-height: var(--16pt-exbold-line-height);
    font-style: var(--16pt-exbold-font-style);
}

.android-small {
    background-color: #fa9a84;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .android-small .div {
    background-color: #fa9a84;
    width: 360px;
    height: 640px;
    position: relative;
  }

  .android-small .overlap {
    height: 519px;
    top: 121px;
    left: 0;
    position: absolute;
    width: 360px;
  }
  
  .android-small .back-img {
    position: absolute;
    width: 360px;
    height: 600px;
    top: 19px;
    left: 0;
  }
  
  .android-small .body {
    position: absolute;
    width: 328px;
    height: 495px;
    top: 0;
    left: 16px;
    background-color: #f1e8d9;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #00000033;
  }
  
  .android-small .overlap-group {
    position: absolute;
    width: 360px;
    height: 105px;
    top: 0;
    left: 0;
    background-color: #f1e8d9;
    box-shadow: 0px 1px 4px #00000033;
  }
  
  .android-small .members-button-css {
    top: 20px;
    left: 306px;
    color: #00000040;
    font-size: 16px;
    position: absolute;
    font-family: "NanumSquareOTF-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background: none;
    border: none;
  }
  
  .android-small .group-css {
    width: 95px;
    top: 19px;
    left: 56px;
    color: #fa9a84;
    font-size: 20px;
    position: absolute;
    font-family: "NanumSquareOTF-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .android-small .schedule-button-css {
    top: 71px;
    left: 56px;
    color: #00000040;
    font-size: 16px;
    position: absolute;
    font-family: "NanumSquareOTF-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background: none;
    border: none;
  }
  
  .android-small .checklist-button-css {
    top: 71px;
    left: 144px;
    color: #00000040;
    font-size: 16px;
    position: absolute;
    font-family: "NanumSquareOTF-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background: none;
    border: none;
  }
  
  .android-small .calendar-button-css {
    top: 71px;
    left: 267px;
    color: #fa9a84;
    font-size: 16px;
    position: absolute;
    font-family: "NanumSquareOTF-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    background: none;
    border: none;
  }
  
  .android-small .group-button {
    position: absolute;
    width: 14px;
    height: 24px;
    top: 18px;
    left: 24px;
    background-image: url(./img/subtract.svg);
    background-size: 100% 100%;
    border: none;
  }
  
  .android-small .calendar-underline-css {
    position: absolute;
    width: 84px;
    height: 3px;
    top: 102px;
    left: 254px;
    background-color: #fa9a84;
  }