.android-small {
  background-color: #fa9a84;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.android-small .overlap-wrapper {
  background-color: #fa9a84;
  width: 360px;
  height: 640px;
}

.android-small .overlap {
  position: relative;
  height: 640px;
}

.android-small .back-img {
  position: absolute;
  width: 360px;
  height: 510px;
  top: 130px;
  left: 0;
}

.android-small .group-top-tap {
  position: absolute;
  width: 360px;
  height: 105px;
  top: 0;
  left: 0;
  background-color: #f1e8d9;
  box-shadow: 0px 1px 4px #00000033;
}

.android-small .text-wrapper {
  width: 95px;
  top: 19px;
  left: 56px;
  font-family: var(--20pt-exbold-font-family);
  font-weight: var(--20pt-exbold-font-weight);
  color: #fa9a84;
  font-size: var(--20pt-exbold-font-size);
  white-space: nowrap;
  position: absolute;
  letter-spacing: var(--20pt-exbold-letter-spacing);
  line-height: var(--20pt-exbold-line-height);
  font-style: var(--20pt-exbold-font-style);
}

.android-small .left-arrow-btn {
  position: absolute;
  width: 14px;
  height: 24px;
  top: 18px;
  left: 24px;
  background-image: url(./img/subtract.svg);
  background-size: 100% 100%;
}

.android-small .select-bar {
  position: absolute;
  width: 84px;
  height: 4px;
  top: 101px;
  left: 29px;
  background-color: #fa9a84;
}

.android-small .div {
  top: 71px;
  left: 56px;
  font-family: var(--16pt-exbold-font-family);
  font-weight: var(--16pt-exbold-font-weight);
  color: #fa9a84;
  font-size: var(--16pt-exbold-font-size);
  white-space: nowrap;
  position: absolute;
  letter-spacing: var(--16pt-exbold-letter-spacing);
  line-height: var(--16pt-exbold-line-height);
  font-style: var(--16pt-exbold-font-style);
}

.android-small .text-wrapper-2 {
  top: 71px;
  left: 144px;
  font-family: var(--16pt-exbold-font-family);
  font-weight: var(--16pt-exbold-font-weight);
  color: #00000040;
  font-size: var(--16pt-exbold-font-size);
  white-space: nowrap;
  position: absolute;
  letter-spacing: var(--16pt-exbold-letter-spacing);
  line-height: var(--16pt-exbold-line-height);
  font-style: var(--16pt-exbold-font-style);
}

.android-small .text-wrapper-3 {
  top: 71px;
  left: 267px;
  font-family: var(--16pt-exbold-font-family);
  font-weight: var(--16pt-exbold-font-weight);
  color: #00000040;
  font-size: var(--16pt-exbold-font-size);
  white-space: nowrap;
  position: absolute;
  letter-spacing: var(--16pt-exbold-letter-spacing);
  line-height: var(--16pt-exbold-line-height);
  font-style: var(--16pt-exbold-font-style);
}

.android-small .rectangle {
  position: absolute;
  width: 328px;
  height: 495px;
  top: 121px;
  left: 16px;
  background-color: #f1e8d9;
  border-radius: 20px;
  box-shadow: var(--default-shadow);
}

.android-small .text-wrapper-4 {
  top: 20px;
  left: 306px;
  font-family: var(--16pt-exbold-font-family);
  font-weight: var(--16pt-exbold-font-weight);
  color: #00000040;
  font-size: var(--16pt-exbold-font-size);
  white-space: nowrap;
  position: absolute;
  letter-spacing: var(--16pt-exbold-letter-spacing);
  line-height: var(--16pt-exbold-line-height);
  font-style: var(--16pt-exbold-font-style);
}

.android-small .text-wrapper-5 {
  top: 20px;
  left: 244px;
  font-family: var(--16pt-exbold-font-family);
  font-weight: var(--16pt-exbold-font-weight);
  color: #00000040;
  font-size: var(--16pt-exbold-font-size);
  white-space: nowrap;
  position: absolute;
  letter-spacing: var(--16pt-exbold-letter-spacing);
  line-height: var(--16pt-exbold-line-height);
  font-style: var(--16pt-exbold-font-style);
}

.android-small .line {
  position: absolute;
  width: 2px;
  height: 28px;
  top: 16px;
  left: 290px;
}

.android-small .group {
  position: absolute;
  width: 284px;
  height: 41px;
  top: 149px;
  left: 40px;
}

.android-small .right-arrow-btn {
  position: absolute;
  width: 19px;
  height: 32px;
  top: 4px;
  left: 262px;
  background-image: url(./img/arrowbtn-2.svg);
  background-size: 100% 100%;
}

.android-small .text-wrapper-6 {
  top: 18px;
  left: 60px;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-7 {
  top: 0;
  left: 60px;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .warning-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.android-small .plus-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 219px;
  left: 168px;
  background-color: #f29681;
  border-radius: 12px;
}

.android-small .overlap-group {
  position: relative;
  width: 14px;
  height: 14px;
  top: 5px;
  left: 5px;
}

.android-small .rectangle-2 {
  position: absolute;
  width: 4px;
  height: 14px;
  top: 0;
  left: 5px;
  background-color: #f1e8d9;
}

.android-small .rectangle-3 {
  position: absolute;
  width: 4px;
  height: 14px;
  top: 0;
  left: 5px;
  background-color: #f1e8d9;
  transform: rotate(-90deg);
}

.android-small .screen {
  position: absolute;
  width: 360px;
  height: 640px;
  top: 0;
  left: 0;
  background-color: #00000080;
}

.android-small .vector {
  position: absolute;
  width: 314px;
  height: 400px;
  top: 120px;
  left: 23px;
}

.android-small .plusbtn-lightver {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 144px;
  left: 55px;
  background-color: #ffffff;
  border-radius: 12px;
}

.android-small .rectangle-4 {
  position: absolute;
  width: 4px;
  height: 14px;
  top: 0;
  left: 5px;
  background-color: #fa9a84;
}

.android-small .rectangle-5 {
  position: absolute;
  width: 4px;
  height: 14px;
  top: 0;
  left: 5px;
  background-color: #fa9a84;
  transform: rotate(-90deg);
}

.android-small .text-wrapper-8 {
  top: 144px;
  left: 95px;
  font-family: var(--20pt-exbold-font-family);
  font-weight: var(--20pt-exbold-font-weight);
  color: #ffffff;
  font-size: var(--20pt-exbold-font-size);
  white-space: nowrap;
  position: absolute;
  letter-spacing: var(--20pt-exbold-letter-spacing);
  line-height: var(--20pt-exbold-line-height);
  font-style: var(--20pt-exbold-font-style);
}

.android-small .text-wrapper-9 {
  top: 141px;
  left: 283px;
  font-family: var(--12pt-bold-font-family);
  font-weight: var(--12pt-bold-font-weight);
  color: #ffffff;
  font-size: var(--12pt-bold-font-size);
  position: absolute;
  letter-spacing: var(--12pt-bold-letter-spacing);
  line-height: var(--12pt-bold-line-height);
  font-style: var(--12pt-bold-font-style);
}

.android-small .overlap-group-wrapper {
  position: absolute;
  width: 252px;
  height: 291px;
  top: 201px;
  left: 54px;
}

.android-small .overlap-2 {
  position: relative;
  width: 259px;
  height: 291px;
}

.android-small .overlap-3 {
  position: absolute;
  width: 258px;
  height: 291px;
  top: 0;
  left: 1px;
}

.android-small .group-2 {
  position: absolute;
  width: 56px;
  height: 266px;
  top: 25px;
  left: 0;
}

.android-small .text-wrapper-10 {
  top: 0;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-11 {
  top: 25px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-12 {
  top: 50px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-13 {
  top: 75px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-14 {
  top: 100px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-15 {
  top: 126px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-16 {
  top: 151px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-17 {
  top: 176px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-18 {
  top: 201px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-19 {
  top: 226px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-20 {
  top: 252px;
  left: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .div-wrapper {
  position: absolute;
  width: 208px;
  height: 251px;
  top: 32px;
  left: 43px;
}

.android-small .overlap-group-2 {
  position: relative;
  width: 209px;
  height: 253px;
  top: -1px;
  background-image: url(./img/group-60.png);
  background-size: 100% 100%;
}

.android-small .img {
  top: 13px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .line-2 {
  top: 38px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .line-3 {
  top: 63px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .line-4 {
  top: 87px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .line-5 {
  top: 113px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .line-6 {
  top: 138px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .line-7 {
  top: 163px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .line-8 {
  top: 187px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .line-9 {
  top: 214px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .line-10 {
  top: 238px;
  position: absolute;
  width: 207px;
  height: 1px;
  left: 1px;
  object-fit: cover;
}

.android-small .navbar {
  position: absolute;
  width: 207px;
  height: 28px;
  top: 0;
  left: 51px;
}

.android-small .element {
  left: 0;
  position: absolute;
  top: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .element-2 {
  left: 30px;
  position: absolute;
  top: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .element-3 {
  left: 60px;
  position: absolute;
  top: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .element-4 {
  left: 88px;
  position: absolute;
  top: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .element-5 {
  left: 119px;
  position: absolute;
  top: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .element-6 {
  left: 148px;
  position: absolute;
  top: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .element-7 {
  left: 178px;
  position: absolute;
  top: 0;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .group-3 {
  position: absolute;
  width: 42px;
  height: 18px;
  top: 1px;
  left: 0;
}

.android-small .overlap-4 {
  position: relative;
  width: 40px;
  height: 18px;
  background-color: #fa9a84;
  border-radius: 5px;
}

.android-small .text-wrapper-21 {
  top: 2px;
  left: 11px;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #f1e8d9;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .check-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 528px;
  left: 186px;
}

.android-small .x-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 520px;
  left: 142px;
}

.android-small .rectangle-6 {
  position: absolute;
  width: 298px;
  height: 32px;
  top: 88px;
  left: 31px;
  background-color: #fa9a84;
  border-radius: 12.5px;
  box-shadow: var(--default-shadow);
}

.android-small .text-wrapper-22 {
  top: 94px;
  left: 55px;
  font-family: var(--16pt-exbold-font-family);
  font-weight: var(--16pt-exbold-font-weight);
  color: #ffffff;
  font-size: var(--16pt-exbold-font-size);
  white-space: nowrap;
  position: absolute;
  letter-spacing: var(--16pt-exbold-letter-spacing);
  line-height: var(--16pt-exbold-line-height);
  font-style: var(--16pt-exbold-font-style);
}

.android-small .arrow-btn {
  position: absolute;
  width: 16px;
  height: 12px;
  top: 98px;
  left: 289px;
}
